<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
	<p>Page view count:
    <% if (pageCountMessage) { %>
       <span class="code" id="count-value"><%=pageCountMessage%></span>
       </p>
        <div class="code"><h3>DB Connection Info:</h3>
          <table style='margin-left: 20px'>
          </table>
        </div>
    <% } else { %>
       <span class="code" id="count-value">No database configured</span>
       </p>
    <%} %>
</body>
</html>